.health-nonprofits-gi {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, 33vw);
}
.homeCardContainerGIHealth {
	width: 25vw;
	height: 32rem;
	overflow: hidden;
	box-shadow: 0px 0px 15px -5px;
	transition: 0.5s;
	animation: ease-in-out;
	margin: 3rem;
	border-radius: 1rem;
	background-color: #ffffff;
	color: #000;
  }

  .homeCardContainerGIHealthBlue {
	width: 24rem;
	height: 33rem;
	overflow: hidden;
	box-shadow: 0px 0px 15px -5px;
	transition: 0.5s;
	animation: ease-in-out;
	margin: 3rem;
	border-radius: 1rem;
	background-color: #012169;
  }

  .dasboard-blue-button {
	display: flex;
	justify-content: center;
  }
  .dasboard-blue-button {
	text-decoration: none;
	padding: 0.5rem;
	transition: 0.2s;
	border-radius: 5px;
	transition: 0.2s;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
  }

  .logout-div {
	display: flex;
	justify-content: flex-end;
  }

  .logout-button {
	color: #fff;
	border: 1px solid white;
	border-radius: 5px;
	background-color: #c41230;
	padding: 5px;
	cursor: pointer;
  }


  .logout-button-blue {
	color: #fff;
	border: 1px solid white;
	border-radius: 5px;
	background-color: #012169;
	padding: 5px;
	cursor: pointer;
  }

 .external-resources {
	display: flex;
	justify-content: center;
 }

 .cardImgContainer-top {
	overflow: hidden;
	height: 200px;
	width: 100%;
	
  }
  
@media (max-width: 768px) {

}

@media (max-width: 660px) {
	.health-nonprofits-gi {
		grid-template-columns: repeat(auto-fit, 90vw);
		justify-content: center;
	}
	.homeCardContainerGIHealth {
		width: 70vw;
		justify-self: center;
	}
}
