.homeDividerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #c41230;
  color: #ffff;
}

.homeDivider-content {
  flex: 1;
  padding-right: 2rem;
}

.cardTitle h3 {
  margin: 0;
  font-size: 2rem;
}

.homeDivider-body p {
  margin: 1rem 0;
  font-size: 1.25rem;
}

.horizontalBreak {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.homeDivider-info p {
  margin-bottom: 2rem;
  margin-top: 5rem;
  font-size: 1.25rem;
  margin-left: 2rem;
}

.homeDivder-img-container img {
  max-width: 625px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Blue Divider Area */

.homeDividerContainerBlue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #012169;
  color: #ffff;
}

.homeDivider-container-blue {
  flex: 1;
  padding-left: 2rem;
}

@media (max-width: 968px) {
  .homeDividerContainer,
  .homeDividerContainerBlue {
    padding: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    text-align: center;
  }

  .homeDivider-content,
  .homeDivider-container-blue {
    padding: 0;
  }

  .cardTitle h3,
  .homeDivider-body p,
  .homeDivider-info p {
    font-size: 1.1rem;
  }

  .horizontalBreak {
    margin: 5px 0;
  }

  .homeDivder-img-container img {
    max-width: 100%;
    margin: 0 auto;
  }
}
