.navbar {
  background-color: #fff;
  padding: 10px 0;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 3rem;
  max-width: 100vw;
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 0 20px;
  position: static;
  /* text-align: left; */
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

.navLogo img {
  height: 40px;
}

.navItem {
  margin: 0;
}

.navLink {
  color: #012169;
  text-decoration: none;
  font-size: 16px;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #012169;
}

.userIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* TESTING DROP DOWN */

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;

  /* padding: 10px; */
  padding: 10px 30px 0 0;
  min-width: 255px;
  max-width: 270px;
  list-style-type: none;
  z-index: 1;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  color: #012169;
  text-decoration: none;
  display: inline-block;
  padding: 8px 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.dropdown-menu a:hover {
  border-bottom-color: #012169;
  color: #012169;
}

@media (max-width: 768px) {
  /* Media query for tablet and phone sizes */
  .navList {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px; /* Adjust this value based on your header height */
    left: -100%; /* Hide the menu initially */
    width: 100%;
    background-color: #fff;
    transition: left 0.3s ease-in-out;
  }

  .navList.active {
    left: 0; /* Show the menu */
  }

  .navItem {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }

  .navItem:last-child {
    border-bottom: none;
  }

  .navLink {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0;
    display: block;
  }

  .userIcon {
    display: none; /* Hide the search icon */
  }
}
