.utilityNav {
  background-color: #ededed;
  color: #fff;
}

.utilityNavContainer {
  list-style: none;
  padding: 0 2rem;
  height: 35px;
  line-height: 35px;
  max-width: 90.625rem;
  margin: 0 auto;
  display: flex;

  width: 100%;
}

.utilityNavSideContainer {
  background-color: #012169;
  margin-left: auto;
}

.utilitySideItems {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.utilityNavItem {
  font-size: 14px;
  width: auto;
  padding: 0 10px;
}

.utilityNavItem a {
  color: #012169;
  text-decoration: none;
}

.utility-vertical-line {
  width: 1px;
  height: 20px;
  background-color: white;
  margin-right: 10px;
}

.utilitySideItems {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .utilityNavContainer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .utilityNavSideContainer {
    margin-left: 0; 
  }

  .utilityNavSpacer {
    padding-right: 1rem; 
  }

  .utilitySideItems {
    justify-content: space-around; 
  }

  .utility-vertical-line {
    display: none; 
  }
}
