.utilityFooter {
  position: relative;
}

.topInfo {
  font-weight: bolder;
  font-size: 1.1rem;
  padding: 40px 87px;
  line-height: 1.5em;
}

.bottomInfo {
  padding: 10px 57px;
  text-align: left;
  margin: 1.5rem;
}

.media-icons {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

.media-icons a {
  display: inline-block;

  margin: 0 5px;
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}

.media-icons a:hover {
  color: #007bff;
}

@media (max-width: 767px) {
  .topInfo {
    padding: 10px;
    font-size: 1rem;
  }

  .bottomInfo {
    padding: 5px;
    margin: 0.5rem;
  }

  .media-icons {
    justify-content: center;
    margin-top: 10px;
  }

  .media-icons a {
    font-size: 18px;
    margin: 0 3px;
  }
}
