.utilityNav {
  background-color: #ededed;
  color: #fff;
}

.utilityNavContainer {
  list-style: none;
  padding: 0 2rem;
  height: 35px;
  line-height: 35px;
  max-width: 90.625rem;
  margin: 0 auto;
  display: flex;

  width: 100%;
}

.utilityNavSideContainer {
  margin-left: auto;
}

.utilitySideItems {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.utilityNavItem {
  font-size: 14px;
  width: auto;
  padding: 0 10px;

}

.utilityNavItem a {
  color: #012169;
  text-decoration: none;
}
/* begin */
.utilityNavItem2 {
  color: #012169; /* Less bright white text */
  text-decoration: none;
  position: relative;
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

.utilityNavItem2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px; /* Width of the vertical line */
  height: 100%;
  background-color: var(#1b01c2 ); /* Blue section */
  border-top-left-radius: 20px; /* Rounded top-left corner */
  border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
  transition: background-color 0.3s; /* Smooth transition */
}

.utilityNavItem2:hover {
  background-color: var(#1b01c2); /* Blue highlighting on hover */
  color: #fff; /* White text on hover */
}

.utilityNavItem2:hover::before {
  background-color: var(#1b01c2 ); /* Blue vertical line on hover */
}

/* Stop */

.utility-vertical-line {
  width: 1px;
  height: 20px;
  background-color: white;
  margin-right: 10px;
}

.utilitySideItems {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .utilityNavContainer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .utilityNavItem2 {
	color: rgba(255, 255, 255, 0.8); /* Less bright white text */
	text-decoration: none;
	position: relative;
	padding: 4px 8px;
	transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  }

  .utilityNavSideContainer {
    margin-left: 0; 
  }

  .utilityNavSpacer {
    padding-right: 1rem; 
  }

  .utilitySideItems {
    justify-content: space-around; 
  }

  .utility-vertical-line {
    display: none; 
  }
}

@media (max-width: 420px) {
	.utilityNavItem2 {
		color: rgba(255, 255, 255, 0.8); /* Less bright white text */
		text-decoration: none;
		position: relative;
		padding: 2px 2px;
		transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
		font-size: 15px;
	  }
}