.hero-container {
  position: relative;
  overflow: hidden;
}
.hero-container video {
  width: 100%;
  height: auto;
}

.hero-content {
  position: relative;
  top: 50%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 80%;
  border-radius: 10px;
}

.options {
  display: flex;
  justify-content: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.videoOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 4vw; /* Adjust font size for responsiveness */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2vw; /* Adjust padding for responsiveness */
  border-radius: 2vw; /* Adjust border radius for responsiveness */
  animation: fadeInOut 5s linear;
  opacity: 0;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 768px) {
  .videoOverlay {
    font-size: 6vw; /* Adjust font size for smaller screens */
    padding: 3vw; /* Adjust padding for smaller screens */
    border-radius: 3vw; /* Adjust border radius for smaller screens */
  }
}
