.hero-container {
  position: relative;
}

.hero-content {
  position: relative;
  top: 50%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 80%;
  border-radius: 10px;
}

.options {
  display: flex;
  justify-content: center;
}
