.hero-container {
  position: relative;
  overflow: hidden;
}
.hero-container video {
  width: 100%;
  height: auto;
}

.hero-content {
  position: relative;
  top: 50%;
  left: 10%;

  text-align: center;
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 80%;
  border-radius: 10px;
}

.options {
  display: flex;
  justify-content: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.videoOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 4vw;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2vw;
  border-radius: 2vw;
  animation: fadeInOut 5s linear;
  opacity: 0;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 968px) {
  .videoOverlay {
    font-size: 6vw;
    padding: 3vw;
    border-radius: 3vw;
  }
  .options {
	display: none;
	justify-content: center;
  }
}
