.jobsImgContainer {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.jobsImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.8;
}

.jobsText {
  position: absolute;
  top: 50%;
  left: 75%;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(1, 33, 105, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px -5px;
  text-align: center;
  color: #fff;
}

.jobsTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.jobsDescription {
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 24px;
  width: 40rem;
}

@media (max-width: 968px) {
  .jobsImgContainer {
    display: none;
  }
}
